.text-colors{
    color: #fff;
}
.navbar-nav{
    padding-right: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar-nav li a:hover:after {
    /* border-bottom: 4px solid #4cdb13; */
    border-bottom: 4px #fffbfb;
    border-bottom-style: solid;
    border-radius: 3px;
} 
b.text-colors:link {
    border-bottom: 4px #fffbfb;
    border-bottom-style: solid;
    border-radius: 3px; }